.layout-lg-footer-fixed .wrapper .content-wrapper {
    padding-bottom: calc(3.5rem + 1px);
    background-image: url("../assets/images/background.jpg")!important;
    background-repeat: no-repeat;
    background-size: cover;
    color: white!important;
}
body:not(.sidebar-mini-md) .content-wrapper, body:not(.sidebar-mini-md) .content-wrapper::before, body:not(.sidebar-mini-md) .main-footer, body:not(.sidebar-mini-md) .main-footer::before, body:not(.sidebar-mini-md) .main-header, body:not(.sidebar-mini-md) .main-header::before {
    margin-left: 0;
}
.relative{
    position: relative!important;
}
[class*=sidebar-dark-] {
    background-color: #F15585!important;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #F15585!important;
    color: #fff!important;
}
.content-wrapper>.content {
     padding: 0!important;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 7.5px;
    padding-left: 22.5px!important;
    margin-right: auto;
    margin-left: auto;
}
